
*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body{
    width:100%;
    font-family: 'Rubik', sans-serif;
    height:100%;
    display: flex;
    align-items: center;
   
  
    
}
/* ---------------------------------------------------------------Butun Box_wrapper --------------------------------------------------------------*/
#wrapper{
    min-width:500px;
    margin:0 auto;
    width:500px;
    height:auto;
    border-radius:5px;
    background-color:#FAF9F6;
}


#quote-box{
   width: 80%;
   height:auto;
   margin:0 auto;
   padding-top:20px;
   padding-bottom:20px;
   
  
}
/* ---------------------------------------------------------------Text Suite --------------------------------------------------------------*/
#text-box{
    width:100%;
    height:auto;
    text-align:center;
}


#text{
    height:auto;
    font-size:30px;
    font-family: 'Rubik', sans-serif;
}


.fa-quote-left{
    font-size:30px;
    margin-right:5px;
}

 
 #author{
    display:flex;
   justify-content:flex-end;
   margin-top:10px;
   margin-bottom:50px;
   font-size:20px;
    
   
}




/* ---------------------------------------------------------------Button Suite--------------------------------------------------------------*/

button{
   
    color:#FAF9F6;
    border:none;
    margin-bottom:20px;

}

#tumblr{
    height:40px;
    width:50px;
    border-radius:5px;
    margin-left:10px;

    
}
.fa-twitter,.fa-tumblr{
    font-size: 20px;
    text-decoration:none;
    text-align:center;
    color: #FAF9F6;

}
#twitter{
    height:40px;
    width:50px;
    border-radius:5px;
   
}

button:hover{
    opacity: 0.8;
}

#new-quote{
    float:right;
    padding:8.5px 20px;
    border-radius:5px;
    cursor:pointer;
    font-size :20px;
 }


 p{
    text-align:center;
    display: block;
    margin-bottom:-100px;

}


